.page-about-container {
	overflow: hidden;

	.about-info-1 {
		position: relative;

		.info-desc {

			.info-desc-text {

				@extend %all-headers-text-bold;
			}
		}

		.small-polygon {
			position: absolute;
			right: -10vw;
			bottom: 0;
			z-index: -1;

			img {
				width: 65%;
				height: auto;
			}
		}
	}

	.about-info-2 {
		position: relative;
		margin-bottom: 100px;

		.banner-header-hashtag {
			text-align: center;
			color: var(--pink);
			padding: 0 10%;

			h4,
			h1 {
				font-weight: 900;
				padding: 20px 20px;
			}
		}

		.big-polygon {
			position: absolute;
			left: -12vw;
			bottom: -12vw;
			z-index: -1;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.about-info-3 {

		.info-3-image {
			position: relative;

			.image-container {
				padding: 10px;

				img {
					width: 100%;
				}
			}
		}

		.info-3-desc {

			.i3-desc-1,
			.i3-desc-2,
			.i3-desc-3 {

				@extend %all-headers-text-bold;
			}
		}
	}
}
