.page-about-container {
	overflow: hidden;

	.about-info-1 {
		position: relative;

		.info-desc {

			.info-desc-text {

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					color: var(--pink);
					font-weight: 700;
				}
			}
		}
	}

	.about-info-2 {
		position: relative;
		margin-bottom: 100px;

		.banner-header-hashtag {
			text-align: center;
			color: var(--pink);
			padding: 0 10%;

			h4,
			h1 {
				font-weight: 900;
				padding: 20px 20px;
			}
		}
	}

	.about-info-3 {

		.info-3-image {
			position: relative;

			.image-container {
				padding: 10px;

				img {
					width: 100%;
				}
			}
		}

		.info-3-desc {

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: var(--pink);
				font-weight: 700;
			}
		}
	}
}
