.page-blog-container {
	position: relative;
	overflow: hidden;
	padding: 50px 10px;

	.blog-container {

		.blog-list {

			.result-search {

				@extend %text-content-h1-6-12-600-15;

				span {
					color: #fff;
				}
				margin-bottom: 20px;
			}

			.blog {
				margin-bottom: 32px;

				img {
					height: 260px;
					object-fit: cover;
				}

				.blog-info {
					background-color: #f2f2f2;

					.blog-date-author {

						@extend %regular-text-white;

						p {
							margin-bottom: 0;
							font-size: 10px;
							text-transform: uppercase;
						}
					}
				}

				.blog-content {

					@extend %text-content-h1-6-12-600-15;
					border-top: 1px solid var(--pink);

					h5 {
						text-transform: uppercase;
					}
				}
			}

			.page-navigation {
				display: flex;
				justify-content: center;

				.wp-pagenavi {
					float: right;

					span.current {
						padding: 8px 15px;
						color: #fff;
						border: 1px solid var(--pink);
						background-color: var(--pink);
					}

					a.page {
						padding: 8px 15px;
						color: #000;
						border: 1px solid #000;

						&:hover {
							border: 1px solid var(--pink);
							background-color: var(--pink);
							color: #fff;
							text-decoration: none;
						}
					}

					.extend {
						padding: 8px 12px;
						border: none;
					}
				}
			}
		}

		.search-popular {
			position: relative;

			.search-form {

				form {
					position: relative;

					.search-blog {
						width: 100%;
						padding: 10px;
						margin-left: 1px;
					}

					.btn-search {
						position: absolute;
						top: 0;
						right: 0;
						background-color: var(--pink);
						padding: 10px;
						border: 2px solid var(--pink);
						color: #fff;

						&:hover {
							background-color: var(--pink-dark);
							color: #fff;
						}
					}
				}
			}

			.popular-posts {
				position: relative;

				@extend %text-content-h1-6-12-600-15;

				.popular-post-list {

					.wpp-list {
						padding-left: 0;

						li {
							margin-bottom: 10px;

							&:hover {

								a {
									color: var(--pink);
								}
							}

							a {
								text-decoration: none;
							}

							hr {
								border-top: 2px solid var(--pink);
								width: 10%;
								display: inline-block;
								margin: 2px;
							}

							.wpp-post-title {
								color: #000;
								font-size: 0.9rem;
								font-weight: 600;
								display: block;
							}

							.post-stats {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
