.page-booking-container {
	position: relative;
	overflow: hidden;
	padding: 50px 10px;

	.common-container {

		.common-content {

			.content {

				@extend %text-content-h1-6-12-600-15;
				padding: 20px 60px;
				// font-weight: 600;
				line-height: 1.5;

				p {
					font-size: 10px;
					line-height: 2;
				}

				b,
				strong,
				a,
				span,
				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					color: var(--pink);
				}

				img {
					max-width: 100%;
					margin: auto;
					display: block;
					object-fit: contain;
				}

				input,
				textarea,
				select {
					color: #000;
				}
			}
		}
	}
}
