.page-common-container {
	position: relative;
	overflow: hidden;
	padding: 50px 10px;

	.common-container {

		.common-content {

			.content {

				@extend %text-content-h1-6-12-600-15;
				font-weight: 600;

				b,
				strong,
				a,
				span,
				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					color: var(--pink);
				}

				img {
					max-width: 100%;
					margin: auto;
					display: block;
					object-fit: contain;
				}
			}
		}
	}
}
