.page-contact-container {
	border-top: 2px solid var(--pink);
	padding: 50px 0;

	.location-contact {
		position: relative;

		.location-description {

			@extend %text-content-h1-6-12-600-15;
		}

		.location-map {

			.acf-map {
				height: 300px;
			}
		}
	}

	.book-form-header {
		margin-top: 30px;
		position: relative;

		.book-form-label {
			color: #fff;

			@extend %text-content-h1-6-12-600-15;

			h1 {
				color: #fff;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
}
