footer {

	.footer-body {

		.partners-icon-body {
			background-color: var(--pink);
			text-align: center;
			padding: 30px 10%;

			h3 {
				display: none;
			}

			.textwidget {
				text-align: center;
				color: #fff;
				font-size: 1.8rem;
				font-weight: 900;
				margin-top: 25px;
			}

			.partners-1 {

				.partners_icons:not(:first-child) {

					display: inline-block;
					margin: 25px 28px;
					width: auto;
				}
			}

			.partners-2 {

				.partners_icons:not(:first-child) {

					display: inline-block;
					margin: 25px 28px;
					width: 100px;
				}
			}
		}

		.apply-now-body {
			text-align: center;
			padding: 10% 0;
			position: relative;

			.background-transparency {
				background-color: unset;
			}

			a {

				button {
					width: 300px;
					height: 50px;
					font-weight: 700;
					font-size: 30px;
				}
			}
		}

		.footer-nav-body {

			.footer-menus {
				overflow: auto;
				padding-top: 30px;
				padding-bottom: 30px;
				background-color: #2e2e2e;

				a {
					text-decoration: none;
				}

				.footer-icon-social {
					text-align: center;

					.website-icon {

						img {
							width: 100%;
						}
					}

					.icons {
						margin-top: 30px;

						.social-icons {
							background-color: #3c3c3c;
							display: inline-block;
							margin: 2px;
							padding: 13px;
							border-radius: 100%;

							&:hover {
								background-color: var(--pink-dark);
							}

							h3 {
								display: none;
							}

							a {

								img {
									width: 16px;
									height: auto;
								}
							}
						}
					}

					.whatsapp-link {
						font-size: 10px;
						font-weight: 600;
						padding: 20px 0;
						text-align: center;

						.ccw_plugin {

							.ccw-analytics {

								&:hover {
									background-color: var(--pink-dark) !important;
								}
							}
						}
					}
				}

				.footer-menu-header {

					p {
						color: #fff;
						font-weight: 700;
						text-transform: uppercase;
					}
				}

				.menu {

					@extend %menu-ul-li-a;

					ul {

						li {

							a {
								font-size: 0.8rem;
								font-weight: 600;
							}
						}
					}
				}
			}

			.footer-copyright {
				background-color: #212121;
				font-size: 10px;
				overflow: auto;
				padding-top: 10px;
				text-align: center;

				.copy-text {

					.copyright {

						&:nth-child(n+2) {
							margin-left: 30px;
						}
						display: inline-block;

						.copy-title {
							display: none;
						}

						.textwidget {
							color: #7d7d7d;
							font-weight: 900;
						}
					}
				}
			}
		}
	}
}
