@font-face {
	font-family: Zing;
	src: url(assets/fonts/ZingScriptRustSBDemo-Base.otf);
}

@font-face {
	font-family: Montserrat;
	src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Montserrat;
	src: url(assets/fonts/Montserrat-ExtraBold.ttf);
	font-weight: 900;
}

@font-face {
	font-family: Montserrat;
	src: url(assets/fonts/Montserrat-Medium.ttf);
	font-weight: 600;
}

@font-face {
	font-family: Montserrat;
	src: url(assets/fonts/Montserrat-SemiBold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Montserrat;
	src: url(assets/fonts/Montserrat-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Montserrat;
	src: url(assets/fonts/Montserrat-Black.ttf);
	font-weight: bolder;
}

@font-face {
	font-family: Montserrat;
	src: url(assets/fonts/Montserrat-Regular.ttf);
	font-weight: initial;
}

body {
	font-family: Montserrat !important;
}

.row::before,
.row::after {
	display: inline-block !important;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.no-margin {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.btn-link-general {
	background-color: var(--pink);
	color: rgb(255, 255, 255);
	min-height: 40px;
	width: 175px;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
	outline: none;
	cursor: pointer;

	&:hover {
		background-color: var(--pink-dark);
	}

	&:focus {
		outline: none;
	}
}

.banner-bg-img {
	height: 100%;
	width: 100%;
}

.card-like-no-padding {
	box-shadow: 0 1px 2px #00000030, 0 3px 3px #0000003b;

	@include media-breakpoint-down(xl) {
		min-height: 520px;

	}

	&:hover {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	}

	a {
		text-decoration: none;
	}

	p {
		color: #000;
	}

	@include media-breakpoint-up(xl) {

		.event-card {
			display: flex;
			height: 285px;

			.event-img,
			.event-info {
				width: 50%;
			}
		}
	}
}

.card-like {
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}

%menu-ul-li-a {

	ul {
		padding-left: 0;
		list-style: none;

		li {
			line-height: 2;

			a {
				color: #fff;
				font-weight: 700;
				text-transform: uppercase;
			}

			ul {
				padding-left: 20px;

				li {

					a {
						font-weight: initial;
					}
				}
			}
		}
	}
}

%regular-text-white {

	p {
		color: #000;
		font-weight: 700;
		line-height: 2;
	}
}

%text-content-h1-6-12-600-15 {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--pink);
		font-weight: 700;
	}

	p {
		font-weight: 600;
	}

	b,
	strong {
		color: var(--pink);
	}
}

%list-with-check {

	ul {
		list-style: none;
		color: #000;
		font-size: 12px;
		font-weight: 700;
		line-height: 2;
		padding-left: 0;

		li {

			&::before {
				content: "\f00c";
				color: var(--pink);
				margin-right: 5px;
				font-family: FontAwesome;
			}
		}
	}
}

div.wpforms-container-full .wpforms-form input[type="date"],
div.wpforms-container-full .wpforms-form input[type="datetime"],
div.wpforms-container-full .wpforms-form input[type="datetime-local"],
div.wpforms-container-full .wpforms-form input[type="email"],
div.wpforms-container-full .wpforms-form input[type="month"],
div.wpforms-container-full .wpforms-form input[type="number"],
div.wpforms-container-full .wpforms-form input[type="password"],
div.wpforms-container-full .wpforms-form input[type="range"],
div.wpforms-container-full .wpforms-form input[type="search"],
div.wpforms-container-full .wpforms-form input[type="tel"],
div.wpforms-container-full .wpforms-form input[type="text"],
div.wpforms-container-full .wpforms-form input[type="time"],
div.wpforms-container-full .wpforms-form input[type="url"],
div.wpforms-container-full .wpforms-form input[type="week"],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
	font-size: 0.7rem !important;
	border-radius: unset !important;
}

.wpforms-field-select-style-classic {
	margin-left: 0 !important;
}

div.wpforms-container-full .wpforms-form button[type="submit"] {
	float: right;
	background-color: var(--pink) !important;
	color: #fff !important;
	height: 36px !important;
	width: 150px !important;
	font-size: 10px !important;
	text-transform: uppercase !important;
	border: none !important;
	outline: none !important;

	&:hover {
		background-color: rgb(255, 255, 255) !important;
		color: rgb(191, 165, 99) !important;
	}

	&:focus {
		outline: none !important;
	}
}

.small-divider {
	margin-top: 0;
	border-bottom: 1px solid var(--pink);
	width: 30%;
	float: left;
	margin-bottom: 0;
}

.divider {
	margin-top: 0;
	border-bottom: 1px solid var(--pink);
	width: 100%;
	float: left;
	margin-bottom: 0;
}

.navigation .navigation-bar .nav-list ul li a {
	text-decoration: none;
}

// Custom Button Styles
.btn-lg {
	font-weight: 700;
}

.btn-primary {
	color: #fff !important;
}

.btn-light {
	color: var(--pink) !important;
}

.btn-xxl {

	@extend .btn;
	@extend .btn-primary;
	@extend .btn-lg;

	@include media-breakpoint-up(lg) {
		padding: 0.5rem 3rem;
		font-size: 2rem;
	}
}

.animate-title {
	transition: all 2s;

	h2 {
		font-size: 0.8rem;
		transition: all 2s;
	}
}

.animate-title.scrolled {

	h2 {
		font-size: 3rem;
		transform: scale(1.1);
	}
}
