.page-home-container {
	position: relative;
	padding: 10px 0 0 0;
	overflow: hidden;

	.first-title {
		position: relative;

		h2 {
			color: #000;
			font-weight: 700;
			font-size: 2rem;
			position: absolute;
			top: 10px;
			right: 104%;
			white-space: nowrap;
			-webkit-transform: rotate(270deg);
			-webkit-transform-origin: right top;
			-moz-transform: rotate(270deg);
			-moz-transform-origin: right top;
			-ms-transform: rotate(270deg);
			-ms-transform-origin: right top;
			-o-transform: rotate(270deg);
			-o-transform-origin: right top;
			transform: rotate(270deg);
			transform-origin: right top;
		}
	}

	.home-container {

		.first-banner {
			position: relative;

			.banner-bg-img {
				min-height: 200px;
				object-fit: cover;
				border-bottom: 5px solid var(--pink-dark);
			}
		}

		.event-workshop {
			position: relative;
			min-height: 200px;

			.ew-title {
				padding-left: 40px;

				h1 {
					color: var(--pink-dark);
					font-weight: 700;
				}
			}

			.ew-body {
				margin: 25px;

				.events-container {
					margin-bottom: 50px;

					.event {
						margin-bottom: 20px;

						.event-img {

							img {
								width: 100%;
								object-fit: cover;
								height: 265px;
							}
						}

						.event-info {
							padding-right: 25px;

							.event-date-author {
								border-bottom: 1px solid var(--pink-dark);
								overflow: hidden;

								@extend %regular-text-white;

								p {
									margin-bottom: 0;
									font-size: 13px;
									text-transform: uppercase;
								}

								#date {
									float: left;
								}

								#price {
									float: right;
								}
							}

							.event-location-time {
								// border-bottom: 1px solid var(--pink);
								overflow: hidden;

								@extend %regular-text-white;

								p {
									margin-bottom: 0;
									font-size: 13px;
									text-transform: uppercase;
								}
							}

							.event-content {
								text-transform: uppercase;

								@extend %text-content-h1-6-12-600-15;

								a {

									h4 {
										text-transform: uppercase;
										color: var(--pink-dark);
									}

									&:hover {
										text-decoration: none;

										h4 {
											color: var(--pink-dark);
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.second-banner {
			position: relative;
			height: 200px;

			.banner-bg-img {
				border-bottom: 5px solid var(--pink-dark);
			}
		}

		.study-courses {
			background-color: var(--pink-light);
			position: relative;

			.courses-title {
				padding-left: 40px;

				h1 {
					color: var(--pink-dark);
					font-weight: 700;
				}

				b,
				strong {
					color: var(--pink);
				}

				@extend %regular-text-white;

				a {
					color: #000;

					&:hover {
						text-decoration: none;
						color: var(--pink);
					}
				}

				p {
					text-transform: uppercase;
				}
			}

			.courses-body {
				margin: 25px;
				margin-top: 10px;

				.courses-container {
					margin-bottom: 50px;

					.courses {
						margin-bottom: 20px;

						.courses-img {

							img {
								width: 100%;
								object-fit: cover;
								height: 200px;
							}
						}

						.courses-info {

							.courses-date-author {
								border-bottom: 1px solid var(--pink);
								overflow: hidden;
							}

							h3 {
								color: var(--pink);
								font-weight: 700;
								text-transform: capitalize;
							}
						}
					}

					.courses-btn {
						text-align: center;
					}
				}
			}
		}

		.third-banner {

			.banner-bg-img {
				border-bottom: 5px solid var(--pink-dark);
			}
		}

		.bootcamps-container {
			position: relative;

			.bootcamps-title {
				padding-left: 40px;

				h1 {
					color: var(--pink-dark);
					font-weight: 700;
				}

				b,
				strong {
					color: var(--pink-dark);
				}

				@extend %regular-text-white;

				p {
					font-size: 10px;
					text-transform: uppercase;
				}
			}

			.bootcamps-body {
				margin: 25px;
				margin-top: 10px;

				.bootcamp-container {
					margin-bottom: 50px;

					.bootcamp {
						margin-bottom: 20px;
						display: inline-block;

						.card {

							&:hover {

								@extend .shadow;
							}
						}

						.card-title {
							color: var(--pink);
							font-weight: 700;
							text-transform: capitalize;

							&:hover {
								text-decoration: none;
							}
						}

						.bootcamp-img {
							position: relative;

							img {
								width: 100%;
								height: 200px;
								object-fit: cover;
							}
						}

						.bootcamp-info {
							padding-top: 10px;
							border-top: 1px solid #575757;

							@extend %regular-text-white;

							p {
								margin-bottom: 5px;

								i {
									color: var(--pink);
									padding-right: 5px;
									font-size: 15px;
									width: 20px;
								}
							}
						}
					}
				}
			}
		}

		.video-list-container {
			background-color: var(--gray-light);

			.video-title {

				h2 {
					font-weight: 700;
					white-space: nowrap;
				}
			}

			.video-displays {
				overflow-x: scroll;
				overflow-y: hidden;
				max-height: 400px;

				.video-items {
					min-width: 20rem;
					margin-right: 16px;

					.video-frame {

						iframe {
							width: 100%;
							height: 300px;
						}
					}

					.video-info {
						text-transform: uppercase;

						@extend %text-content-h1-6-12-600-15;

						h5 {
							margin-top: 8px;
							font-size: 1.25rem;
						}

						p {
							width: 90%;
							color: #000;
						}
					}
				}
			}
		}

		.about-us-new-body {
			background-color: var(--pink);

			.about-us-container {

				.about-img {
					position: relative;

					img {
						width: 100%;
						object-fit: cover;
						height: 350px;
					}
				}

				.about-info {
					color: #fff;

					h1 {
						font-weight: 600;
					}

					h3 {
						color: #fff;
					}

					h5 {
						font-weight: 700;
					}

					p {
						font-weight: 600;
					}

					.about-us-btn {
						margin-top: 30px;
					}
				}
			}
		}

		.hashtag-container {
			text-align: center;

			h1 {
				padding-top: 55px;
				margin-top: 0;
				color: #fff;
				font-size: 70px;
				font-weight: bolder;
			}
		}

		.testimonial-container {
			margin-top: 50px;

			.testimonial-header {
				text-align: right;

				h1 {
					color: var(--pink);
					font-weight: 700;
					width: 60%;
				}

				span {
					color: #000;
				}
			}

			.testimony-list {
				margin: 25px;
				display: flex;
				position: relative;
				overflow: hidden;
				height: 350px;

				.testimonials {
					display: inline-block;
					padding: 0 50px;

					.testimony-img {
						position: relative;

						img {
							width: 70%;
							height: 300px;
							object-fit: cover;
						}

						.country {

							p {
								font-size: 24px;
								font-weight: 700;
								color: #000;
								text-transform: uppercase;
							}
							position: absolute;
							bottom: 0;
							right: 35%;
							text-align: right;
						}
					}

					.testimony-info {

						h5,
						h6,
						h1,
						h2,
						h3,
						h4,
						b,
						strong {
							color: #000;
							font-weight: 600;
						}

						p {
							color: #000;
							font-weight: 500;
						}

						.author {
							margin-top: 20px;
							padding: 20px;
							border-left: 1px solid #000;

							p {
								margin-bottom: 0;
								color: #000;
							}

							#name {
								font-size: 20px;
								font-weight: 700;
							}

							#desc {
								font-weight: initial;
								font-size: 15px;
							}
						}
					}
				}
			}

			.testimonial-navigation {
				color: #000;
				font-size: 25px;
				width: 96%;
				top: 50%;
				position: absolute;

				#tm-left,
				#tm-right {
					position: absolute;
					cursor: pointer;

					&:hover {
						transition: all 0.1s ease-in-out;
						transform: scale(1.1);
					}
				}

				#tm-left {
					left: 0;
				}

				#tm-right {
					right: 0;
				}
			}
		}

		.counting-numbers-container {
			padding: 50px 0;

			.counting-item-container {
				text-align: center;

				.first-item-label {

					p {
						font-weight: 600;
						color: #000;
						font-size: 1.5rem;
					}
				}

				.counting-item {

					p {
						color: var(--pink);
						font-weight: 900;
						font-size: 70px;
					}
				}

				.second-item-label {

					p {
						font-weight: 600;
						color: #000;
						font-size: 23px;
					}
				}
			}
		}
	}
}
