.page-meet-container {
	position: relative;
	padding: 50px 10px;
	overflow: hidden;

	.left-polygon {
		position: absolute;
		left: 4vw;
		bottom: 5vw;
		z-index: -1;

		img {
			width: 65%;
			height: auto;
		}
	}

	.meet-container {
		overflow-y: scroll;
		height: 900px;

		.ml-profile {
			margin-top: 20px;
			margin-bottom: 20px;

			.row {

				.ml-profile-video {
					position: relative;

					img {
						width: 100%;
						object-fit: cover;
						height: 300px;
					}

					.featured-video-plus.fvp-center {
						width: 100%;
						height: 300px;

						.fluid-width-video-wrapper {
							height: 300px;
						}
					}
				}

				.ml-profile-desc {

					@extend %text-content-h1-6-12-600-15;

					a {

						&:hover {
							text-decoration: unset;
						}

						h3 {

							&:hover {
								color: #e63552;
							}
						}
					}

					p {
						color: #000;
					}
				}
			}
		}
	}
}
