.page-meet-container {
	position: relative;

	.meet-container {

		.ml-profile {
			margin-top: 20px;
			margin-bottom: 20px;

			.row {

				.ml-profile-video {
					position: relative;

					img {
						width: 100%;
						object-fit: cover;
						height: 300px;
					}

					.featured-video-plus.fvp-center {
						width: 100%;
						height: 300px;

						.fluid-width-video-wrapper {
							height: 300px;
						}
					}
				}

				.ml-profile-desc {

					@extend %text-content-h1-6-12-600-15;

					a {
						text-decoration: none;

						h3 {

							&:hover {
								color: var(--pink-dark);
							}
						}
					}
				}
			}
		}
	}
}
