/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1024px) and (max-width: 1280px) {

	//CSS
	.page-home-container .home-container
	.study-courses
	.courses-body
	.courses-container
	.courses
	.card-like
	.courses-info {

		a {

			.btn-link-general {
				width: 100%;
			}

			.bootcamps-container .bootcamps-body .bootcamp-container .bootcamp {
				width: 50%;
				max-width: 50%;
				flex: 50%;
			}
		}
	}
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 800px) {

	.page-partner-container {

		.partner-body {

			.partner-img {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}

			.partner-countries {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}

			.partners-info {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}
		}
	}

	.page-meet-container {

		.meet-container {

			.ml-profile {
				width: 50%;
				max-width: 50%;
				flex: 50%;
			}
		}
	}

	.page-event-container {

		.event-container-body {

			.event-container {

				.current-events {

					.event-box {
						width: 100%;
						max-width: 100%;
						flex: 100%;
					}
				}

				.previous-events {

					.event-box {
						width: 100%;
						max-width: 100%;
						flex: 100%;
					}
				}
			}
		}
	}

	.page-bootcamp-container {

		.bootcamp-container {

			.bootcamp-list-container {

				.bootcamp-body {

					.bootcamp {
						width: 50%;
						max-width: 50%;
						flex: 50%;
					}
				}
			}
		}
	}

	.home-info-slider {
		margin-left: 85px;

		.row {
			bottom: -175%;
		}
	}

	.page-home-container {

		.home-container {

			.study-courses {

				.courses-body {

					.courses-container {

						.courses {
							width: 100%;
							max-width: 100%;
							flex: 100%;
						}
					}
				}
			}

			.event-workshop {

				.ew-body {

					.events-container {

						.event {
							width: 100%;
							max-width: 100%;
							flex: 100%;
						}
					}
				}
			}
		}
	}

}

@media (min-width: 768px) and (max-width: 1024px) {

	.video-list-container {

		.video-displays {

			.video-items {

				.video-info {

					h3 {
						font-size: 20px;
					}
				}
			}
		}
	}

	.contact-page-header {

		.page-content {

			.form-fields {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}

			.sched-and-info {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}
		}
	}

	.page-blog-container {

		.blog-container {

			.blog-list {

				.blog {

					.blog-img {
						width: 100%;
						max-width: 100%;
						flex: 100%;
						padding: 0;
					}

					.blog-info {
						max-width: 100%;
						flex: 100%;
						position: unset;
						width: unset;
						right: unset;
						top: unset;
					}
				}
			}

			.search-popular {
				margin-top: 50px;
			}
		}
	}

	.page-bootcamp-container {

		.bootcamp-container {

			.bootcamp-list-container {

				.bootcamp-body {

					.bootcamp {

						.bootcamp-title {
							min-height: 80px;

							h3 {
								font-size: 20px;
							}
						}
					}
				}
			}
		}
	}

	.page-adv-diploma-container {

		.ad-container {

			.diploma-studies {

				.listing-studies {

					.studies-list {

						.study-title {
							font-size: 25px;
						}
					}

					.study-content {

						.study-img {
							width: 50%;
							max-width: 50%;
							flex: 50%;
						}

						.study-labels {
							width: 50%;
							max-width: 50%;
							flex: 50%;
						}

						.study-description {
							width: 100%;
							max-width: 100%;
							flex: 100%;
						}
					}
				}
			}
		}
	}

	.page-about-container {

		.about-info-1 {

			.info-video {
				width: 100%;
				max-width: 100%;
				flex: 100%;

				iframe {
					height: 270px;
				}
			}

			.info-desc {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}
		}

		.about-info-2 {

			.banner-header-hashtag {

				h1 {
					padding: 20px 0;
				}
			}

			.info-2-image {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}

			.info-2-desc {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}
		}

		.about-info-3 {

			.info-3-image {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}

			.info-3-desc {
				width: 100%;
				max-width: 100%;
				flex: 100%;
			}
		}
	}

	//CSS
	.home-info-slider {

		.row {
			margin-left: 15px;
		}
	}

	.page-home-container {

		.home-container {

			.hashtag-container {

				h1 {
					padding-top: 8%;
					font-size: 60px;
				}
			}

			.video-list-container {

				.video-displays {
					height: 465px;

					.video-items {

						.video-frame {

							iframe {
								height: 180px;
							}
						}
					}
				}
			}

		}
	}

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	//CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	//CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	//CSS
	.home-page-info {

		.page-content {

			.text-content {

				h3 {
					font-size: 20px !important;
				}

				p {
					font-size: 11px !important;
				}
			}
		}
	}

	.page-about-container {

		.about-info-2 {

			.banner-header-hashtag {

				h1 {
					padding: 20px 0;
					font-size: 35px;
				}
			}
		}
	}

}

@media (min-width: 767px) {

	.mobile-nav-menu {
		display: none !important;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	//Header
	.header-body {

		.navigation {

			.navigation-bar {

				.nav-list {
					display: none;
				}

				.mobile-nav-menu {
					display: block !important;
					right: 5px;

					.menu_list {

						ul {
							width: 100%;
						}
					}
				}
			}
		}
	}

	.home-info-slider {
		height: 50vw;

		.row {
			bottom: 0;
			left: 0;
		}
	}

	.home-page-info {
		height: 40vh;

		.page-content {

			.search-event-form {

				form {

					.btn_btnSearch,
					.txtSearch,
					.txtDateEvent {
						padding-left: unset;
						padding-right: unset;
					}
				}
			}
		}
	}
	//book coffee with us
	.contact-page-header {

		.page-content {

			.form-fields#form-id-471 {

				div.wpforms-container-full {

					.wpforms-form {

						#wpforms-174-field-6-container {

							.wpforms-field-label {
								width: 100%;
							}
						}
					}
				}
			}

			.sched-and-info {
				text-align: center;
			}
		}
	}
	//homepage
	.page-home-container {

		.home-container {

			.event-workshop {
				padding: 0 30px 0 10px;

				.first-title {

					h1 {
						right: 100%;
					}
				}

				.ew-title {
					padding-left: 40px;

					h1 {
						font-size: 35px;
					}
				}
			}

			.study-courses {
				padding: 0 30px 0 10px;

				.first-title {

					h1 {
						right: 100%;
					}
				}

				.courses-title {

					h1 {
						font-size: 35px;
					}
				}

				.courses-body {
					padding: 0 30px 0 10px;
				}
			}

			.bootcamps-container {
				padding: 0 30px 0 10px;

				.first-title {

					h1 {
						right: 100%;
					}
				}

				.bootcamps-title {

					h1 {
						font-size: 35px;
					}

					#bootcamp-first-desc {
						padding: 10px;
					}
				}

				.bootcamps-body {
					padding-right: 40px;
				}
			}

			.video-list-container {

				.video-displays {

					.video-items {

						.video-frame {

							iframe {
								height: 200px;
							}
						}

						.video-info {

							h3 {
								font-size: 20px;
							}
						}
					}
				}
			}

			.about-us-new-body {

				.about-us-container {
					padding: 25px 15px;

					.about-info {

						h1 {
							font-size: 30px;
						}

						h3 {
							font-size: 20px;
						}
					}
				}
			}

			.testimonial-container {

				.testimonial-header {

					h1 {
						width: 100%;
						font-size: 25px;
					}
				}

				.testimony-list {
					height: 100%;
					margin: 10px 0;

					.testimonials {
						padding: 0 15px;

						.testimony-img {

							img {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	// Footer
	footer {

		.footer-body {

			.partners-icon-body {

				.partners-1 {

					.partners_icons {

						&:not(:first-child) {
							padding: 25px 30px;
							width: 80%;
							margin: 10px 0;
						}
					}
				}

				.partners-2 {

					.partners_icons {

						&:not(:first-child) {
							padding: 25px 35px;
							width: 80%;
							margin: 10px 0;
						}
					}
				}
			}
		}
	}

	//diploma
	.page-adv-diploma-container {

		.ad-container {

			.diploma-studies {

				.studies-title {

					h1 {
						font-size: 25px;
					}
				}

				.listing-studies {

					.studies-list {
						padding: 0 15px !important;
					}
				}
			}

			.diploma-sched {

				h1 {
					font-size: 25px;
				}

				h3 {
					font-size: 20px;
				}

				.schedules-details {

					.schedule-table {

						table {

							tbody {

								tr {

									td {
										font-size: 12px;
										font-weight: 700;
										line-height: 2;
									}
								}
							}
						}
					}

					.btn-schedule {
						text-align: center;
						margin-left: auto;
					}
				}
			}

			.application-details {

				h1 {
					font-size: 25px;
				}

				h3 {
					font-size: 20px;
				}
			}

			.requirements-details {

				h1 {
					font-size: 25px;
				}

				h3 {
					font-size: 20px;
				}
			}

			.apply-button-container {

				.apply-label {
					text-align: center;
				}
			}
		}
	}

	//event
	.page-event-container {

		.event-container-body {
			padding: 30px 10px;
		}

		.interests-form-container {

			div.wpforms-container-full .wpforms-form .wpforms-one-half {
				width: 100%;
			}

			.event-form div.wpforms-container-full .wpforms-form input[type="text"],
			.event-form div.wpforms-container-full .wpforms-form input[type="number"],
			.event-form div.wpforms-container-full .wpforms-form input[type="email"] {
				width: 65%;
			}
		}
	}

	//bootcamp
	.page-bootcamp-container {
		// padding: 30px 10px;

		.bootcamp-container {

			.bootcamp-list-container {

				.bootcamp-body {

					.bootcamp {

						.bootcamp-img {

							.btn_learnmore {
								padding: 0 0;
								position: unset;
								top: unset;

								.btn-link-general {
									display: block;
									width: 100%;
								}
							}
						}

						.bootcamp-title {
							min-height: 60px;

							h3 {
								font-size: 20px;
							}
						}
					}

					.next-term-title {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	.single-page-bootcamp {
		padding: 30px 10px;

		.bootcamp-structure {

			.bootcamp-structure-title {

				h1 {
					font-size: 25px;
				}
			}
		}

		.bootcamp-learn-how {

			.bootcamp-learn-title {

				h1 {
					font-size: 25px;
				}
			}
		}
	}

	//blogs
	.page-blog-container {
		padding: 30px 10px;

		.blog-container {

			.blog-list {

				.blog {
					margin-bottom: 75px;

					.blog-info {
						position: unset;
						width: unset;
						right: unset;
						top: unset;

						.blog-read-more {

							a {

								.btn-link-general {
									width: 100%;
								}
							}
						}
					}
				}
			}

			.search-popular {
				margin-top: 50px;
			}
		}
	}

	.single-page-post {

		.single-post {
			padding: 20px;

			.post-content {

				.text-content {

					p {
						font-size: 14px;
					}

					iframe {
						width: 100%;
					}

					img {
						width: 100%;
					}
				}
			}
		}
	}

	//contact
	.page-contact-container {

		.book-form-container {

			div.wpforms-container-full .wpforms-form .wpforms-one-half {
				width: 100%;
			}

			.book-form div.wpforms-container-full .wpforms-form input[type="text"],
			.book-form div.wpforms-container-full .wpforms-form input[type="number"],
			.book-form div.wpforms-container-full .wpforms-form input[type="email"] {
				position: unset;
				right: unset;
			}

			.book-form div.wpforms-container-full .wpforms-form #wpforms-174-field-6-container,
			.book-form div.wpforms-container-full .wpforms-form #wpforms-174-field-7-container {
				position: unset;
				right: unset;
				top: unset;
				margin-left: 0;
			}
		}
	}

	//document page
	.page-handbook-container {

		.handbook-container {

			.company-info {

				.c-info-desc {
					text-align: center;
				}
			}
		}
	}

	.page-meet-container {

		.meet-container {
			overflow-y: unset;
			height: auto;
		}
	}

	.page-hr-portal-container {

		.hr-portal-container {

			.hr-portal-content {

				.content {
					padding: 20px 30px;
				}
			}
		}
	}

	.hashtag-container {

		h1 {
			padding-top: 15px !important;
			font-size: 50px !important;
		}
	}
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// @mixin grid($columns) {
// 	display: grid;
// 	grid-template-columns: repeat(1, 1fr);
// 	grid-template-rows: auto;
// 	grid-column-gap: 8px;
// 	grid-row-gap: 8px;

// 	@media screen and (min-width: 768px) {
// 		grid-template-columns: repeat($columns, 1fr);
// 		grid-template-rows: auto;
// 		grid-column-gap: 18px;
// 		grid-row-gap: 18px;
// 	}
// }

// .grid-1 {

// 	@include grid(1);
// }

// .grid-2 {

// 	@include grid(2);
// }

// .grid-3 {

// 	@include grid(3);
// }
