.single-page-post {
	position: relative;
	padding: 50px 10px;
	overflow: hidden;
	background-color: #f6f6f6;

	.single-post {
		background-color: #fff;
		padding: 35px;
		font-size: 13px;
		font-weight: 600;

		.post-content {
			padding-bottom: 25px;
			border-bottom: 1px solid #000;

			.back-btn {

				a {
					color: #000;

					&:hover {
						text-decoration: none;
						color: var(--pink);
					}
				}
			}

			.blog-date-author {

				p {
					margin-bottom: 0;
					text-transform: uppercase;
				}

				hr {
					margin-top: 0;
					border-bottom: 2px solid var(--pink);
					width: 30%;
					float: left;
					margin-bottom: 0;
				}

			}

			.blog-title {

				h4 {
					color: var(--pink);
					font-weight: 700;
				}
			}

			.text-content {

				blockquote {
					border-left: 3px solid var(--pink);
					font-family: Zing;
					font-weight: initial;
				}

				img {
					max-width: 100%;
				}
			}
		}

		.post-tags {
			padding: 20px 15px;
			display: inline-flex;

			i {
				padding: 5px 10px 10px 0;

				&::before {
					font-size: 20px;
				}
			}

			.tag {
				padding: 5px;
				border: 1px solid #b9b9b9;
				text-transform: uppercase;
				margin-right: 10px;
			}
		}

		.post-next-prev {
			background-color: #1a1a1a;
			padding: 20px;

			.previous-nav {
				text-align: right;
				border-right: 1px solid #2e2e2e;
				padding: 10px;

				.previous-link {

					a {
						color: var(--pink);

						&:hover {
							color: #fff;
							text-decoration: none;
						}
					}
				}

				.previous-title {

					@extend %regular-text-white;

					p {
						text-transform: uppercase;
						color: #fff;
					}
				}
			}

			.next-nav {
				text-align: left;
				border-left: 1px solid #2e2e2e;
				padding: 10px;

				.next-link {

					a {
						color: var(--pink);

						&:hover {
							color: #fff;
							text-decoration: none;
						}
					}
				}

				.next-title {

					@extend %regular-text-white;

					p {
						text-transform: uppercase;
						color: #fff;
					}
				}
			}
		}

		.author-info {
			padding: 10px;

			.author-desc {

				.author-name {

					h5 {
						text-transform: uppercase;
						font-weight: 600;
					}
				}

				.author-description {

					p {
						color: #969696;
						padding-left: 0;
					}
				}
			}
		}

		.related-post {
			padding: 20px 0;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;

			.row {
				margin: 0;

				.related-title {
					text-align: center;
					background-color: #1a1a1a;
					padding: 5px;

					p {
						color: #fff;
						font-size: 13px;
					}
				}

				.r-post {
					padding: 15px;

					.r-post-img {

						img {
							width: 100%;
							height: 160px;
							object-fit: cover;
						}
					}

					.r-post-title {

						a {
							color: #333;
							font-size: 13px;

							&:hover {
								color: var(--pink);
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}
