.single-page-diploma {
	position: relative;
	padding: 50px 10px;
	overflow: hidden;
	background-color: #f6f6f6;

	.single-diploma {
		background-color: #fff;
		padding: 35px;
		font-size: 13px;
		font-weight: 600;

		.post-content {
			padding-bottom: 25px;
			border-bottom: 1px solid #000;

			.back-btn {

				a {
					color: #000;

					&:hover {
						text-decoration: none;
						color: #ec4e68;
					}
				}
			}

			.blog-date-author {

				p {
					margin-bottom: 0;
					text-transform: uppercase;
					display: none;
				}

				hr {
					margin-top: 0;
					border-bottom: 2px solid #ec4e68;
					width: 30%;
					float: left;
					margin-bottom: 0;
				}

			}

			.blog-title {

				h4 {
					color: #ec4e68;
					font-weight: 700;
				}
			}

			.text-content {

				.thumbnail-content {

					img {
						display: none;
					}

					.featured-video-plus {

						iframe {
							max-width: 100%;
							max-height: 300px;
						}
					}

					.post-thumbnail {
						max-height: 300px;

						img {
							max-width: 100%;
							max-height: 300px;
							object-fit: cover;
							display: block !important;
						}
					}
				}

				blockquote {
					border-left: 3px solid #ec4e68;
					font-family: Zing;
					font-weight: initial;
				}

				img {
					max-width: 100%;
				}
			}
		}

		.post-tags {
			padding: 20px 15px;
			display: inline-flex;

			i {
				padding: 5px 10px 10px 0;

				&::before {
					font-size: 20px;
				}
			}

			.tag {
				padding: 5px;
				border: 1px solid #b9b9b9;
				text-transform: uppercase;
				margin-right: 10px;
			}
		}

		.post-next-prev {
			background-color: #1a1a1a;
			padding: 20px;

			.previous-nav {
				text-align: right;
				border-right: 1px solid #2e2e2e;
				padding: 10px;

				.previous-link {

					a {
						color: #ec4e68;

						&:hover {
							color: #fff;
							text-decoration: none;
						}
					}
				}

				.previous-title {

					@extend %regular-text-white;

					p {
						text-transform: uppercase;
						color: #fff;
					}
				}
			}

			.next-nav {
				text-align: left;
				border-left: 1px solid #2e2e2e;
				padding: 10px;

				.next-link {

					a {
						color: #ec4e68;

						&:hover {
							color: #fff;
							text-decoration: none;
						}
					}
				}

				.next-title {

					@extend %regular-text-white;

					p {
						text-transform: uppercase;
						color: #fff;
					}
				}
			}
		}

		.author-info {
			display: none;
			padding: 10px;

			.author-desc {

				.author-name {

					h5 {
						text-transform: uppercase;
						font-weight: 600;
					}
				}

				.author-description {

					p {
						color: #969696;
						padding-left: 0;
					}
				}
			}
		}

		.related-post {
			position: relative;
			padding: 20px 0;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;

			.row {
				margin: 0;

				.related-title {
					text-align: center;
					background-color: #1a1a1a;
					padding: 5px;

					p {
						color: #fff;
						font-size: 13px;
					}
				}

				.r-post-slider {
					overflow: hidden;
					display: flex;

					.r-post {
						display: inline-block;
						padding: 15px;

						.r-post-img {

							img {
								width: 100%;
								height: 160px;
								object-fit: cover;
							}
						}

						.r-post-title {

							a {
								color: #333;
								font-size: 13px;

								&:hover {
									color: #ec4e68;
									text-decoration: none;
								}
							}
						}
					}
				}

				.r-post-diploma_navigation {
					color: #1a1a1a;
					font-size: 25px;
					width: 100%;
					top: 50%;
					position: absolute;

					#tm_left,
					#tm_right {
						position: absolute;
						cursor: pointer;

						&:hover {
							transition: all 0.1s ease-in-out;
							transform: scale(2);
						}
					}

					#tm_left {
						left: 0;
					}

					#tm_right {
						right: 0;
					}
				}
			}
		}
	}
}
