.single-page-bootcamp {
	position: relative;
	padding: 50px 0;
	overflow: hidden;

	.single-polygon {
		position: absolute;
		left: 2vw;
		bottom: 0;
		z-index: -1;

		img {
			width: 70%;
			height: auto;
		}
	}

	.small-polygon {
		position: absolute;
		right: 2vw;
		top: 15vw;
		z-index: -1;

		img {
			width: 70%;
			height: auto;
		}
	}

	.single-bootcamp-container {

		.bootcamp-structure {
			margin-bottom: 25px;

			.bootcamp-structure-title {

				h1 {
					color: var(--pink-dark);
					font-weight: 900;
					text-transform: uppercase;
				}
				margin-bottom: 25px;
			}

			.bootcamp-structure-img {

				img {
					width: 100%;
				}
			}

			.bootcamp-structure-info {
				color: #000;

				@extend %text-content-h1-6-12-600-15;

				.sub-label {
					overflow: hidden;

					hr {
						margin-top: 0;
						border: 1px solid var(--pink-dark);
						width: 50%;
						float: left;
					}
				}

				label {
					width: 20%;
					display: inline-block;
					text-align: right;
					margin-right: 10px;
				}

				h4 {
					width: 75%;
					display: inline-block;
					color: var(--pink-dark);
				}
			}
		}
	}

	.bootcamp-learn-how {

		.bootcamp-learn-title {

			h1 {
				color: var(--pink-dark);
				font-weight: 900;
				text-transform: uppercase;
			}
		}

		.bootcamp-learn-body {

			.first-content {

				.first-content-img {

					img {
						width: 100%;
						object-fit: cover;
					}

					.embed-video-bootcamp {

						iframe {
							width: 100%;
						}
					}
				}

				.first-content-text {

					@extend %list-with-check;
					color: #000;

					@extend %text-content-h1-6-12-600-15;

					p {
						width: 80%;
					}
				}
			}

			hr#learn-how-line {
				border: 2px solid var(--pink-dark);
				width: 100px;
			}

			.learn-how-second-header {
				text-align: center;

				h3 {
					color: var(--pink-dark);
					font-weight: 900;
					text-transform: uppercase;
				}
			}

			.second-content {

				.second-content-text {
					color: #000;

					@extend %text-content-h1-6-12-600-15;

					b,
					strong {
						color: var(--pink-dark);
					}

					p {
						font-size: 16px;
						font-weight: 600;
					}
					border-right: 2px solid var(--pink-dark);
				}

				.second-content-sched {
					color: #000;

					@extend %text-content-h1-6-12-600-15;

					b,
					strong {
						color: var(--pink-dark);
					}

					h4 {
						color: var(--pink-dark);
					}
				}
			}
		}
	}
}
