$primary:       	 #ec4e68;
// $secondary:     $gray-600;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;

:root {
	--pink-dark: #e63552;
	--pink: #ec4e68;
	--pink-light: #e635521a;
	--orange: #ff7442;
	--orange-light: #ff74421a;
	--gray-light: #f2f2f2;
	--white: #fff;
}

// Custom Button Variables
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

$btn-padding-x: 1.75rem;
$btn-padding-x-lg: 1.5rem;

.btn {
	text-transform: uppercase;
}
