.page-handbook-container{
  position: relative;
  overflow: hidden;
  padding: 50px 10px;

  .big-polygon{
    position: absolute;
    left: 3vw;
    bottom: 3vw;
    z-index: -1;
    img{
      width: 100%;
      height: auto;
    }
  }
    .small-polygon{
      position: absolute;
      display: inline-block;
      right: 0vw;
      top: 15vw;
      z-index: -1;
      img{
        width: 65%;
        height: auto;
      }
    }
  .handbook-container{
    .company-info{
      .c-info-img{
        img{
          width: 100%;
          object-fit: cover;
          height: 300px;
        }
      }
      .c-info-desc{
        @extend %text-content-h1-6-12-600-15;
        p{
          color: #000;
          span{
            color: #ec4e68;
          }
        }
        hr{
          text-align: left;
          border: 1px solid #ec4e68;
          width: 50%;
          display: inline-block;
        }
        .social-icons{
          display: inline-block;
          margin-left: 5px;
          h3{
            display: none;
          }
          a{
            img{
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }

    .handbook-collapse-container{
      margin-top: 50px;
      margin-bottom: 50px;
      .handbook-list{
        @extend %text-content-h1-6-12-600-15;
        .container-title{
          cursor: pointer;
          position: relative;
          &:hover{
            h3{
              color: #000;
            }
          }
          h3{
            display: inline-block;
          }
          i{
            margin-top: 20px;
            margin-bottom: 10px;
            position: absolute;
            right: 0;
            cursor: pointer;
            &:before{
              color: #000;
            }
            &:hover{
              &:before{
                color: #ec4e68;
              }
            }
          }
          .fa-chevron-up:before{
            content: "\f077" !important;
          }
        }
        p{
          color:#000;
        }
        .textwidget{
          display: none;
          padding: 20px;
          color:#000;
          font-size: 12px;
          font-weight: 600;
          line-height: 1.5;
          b,strong,a{
            color:#ec4e68;
          }
          img{
            max-width: 100%;
            margin: auto;
            display: block;
            object-fit: contain;
          }
        }
      }
    }

    .handbook-forms-container{
      .header-title{
        h1{
          color: #ec4e68;
          font-weight: 900;
        }
      }
      .form-links-container{
        padding: 10px 30px;
        .links{
          @extend %menu-ul-li-a;
          ul{
            li{
              a{
                font-size: 10px;
                font-weight: 600;
                color: #000;
              }
              &:hover{
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
