.navigation .navigation-bar .nav-list ul li a {
    font-size: 15px;
}
#course_first_desc, #bootcamp_first_desc{
    font-size: 13px;
}
.page-home-container .home-container .testimonial-container .testimony-list .testimonials .testimony-info p{
    font-size: 16px;
}
.single-page-diploma .single-diploma .post-next-prev .next-nav .next-title p, .single-page-diploma .single-diploma .post-next-prev .previous-nav .previous-title p, .page-bootcamp-container .bootcamp-container .bootcamp-list-container .bootcamp-body .bootcamp .bootcamp-info p, .page-event-container .event-container-body .event-container .current-events .event-box .event-info .event-location-time p, .page-event-container .event-container-body .event-container .previous-events .event-box .event-info .event-location-time p,
.page-event-container .event-container-body .event-container .current-events .event-box .event-info .event-date-author p, .page-event-container .event-container-body .event-container .previous-events .event-box .event-info .event-date-author p, .single-page-post .single-post .post-next-prev .next-nav .next-title p, .single-page-post .single-post .post-next-prev .previous-nav .previous-title p, .page-blog-container .blog-container .blog-list .blog .blog-info .blog-date-author p,
.page-about-container .about-info-3 .info-3-desc .i3-desc-1 p, .page-home-container .home-container .about-us-container .about-info p, .page-home-container .home-container .bootcamps-container .bootcamps-body .bootcamp-container .bootcamp .bootcamp-info p, .page-home-container .home-container .bootcamps-container .bootcamps-title p, .page-home-container .home-container .study-courses
.courses-body .courses-container .courses .courses-info .courses-content p, .page-home-container .home-container .study-courses .courses-title p, .page-home-container .home-container .event-workshop .ew-body .events-container .event .event-info .event-location-time p, .page-home-container .home-container .event-workshop .ew-body .events-container .event .event-info .event-date-author p, .home-page-info .page-content .blog-date-author p{
    font-size: 14px;
}
.btn-link-general{
    width: 175px;
    font-size: 12px;
}
footer .footer-body .footer-nav-body .footer-menus .menu ul li a{
    font-size: 12px;
}
.page-common-container .common-container .common-content .content p{
    font-size: 12px;
}
.page-booking-container .common-container .common-content .content p, .page-hr-portal-container .hr-portal-container .hr-portal-content .content p, .page-common-container .common-container .common-content .content p, .page-meet-container .meet-container .ml-profile .row .ml-profile-desc p, .page-handbook-container .handbook-container .handbook-collapse-container .handbook-list p, .page-handbook-container .handbook-container .company-info .c-info-desc p, .page-adv-diploma-container .ad-container .apply-button-container p,
.page-adv-diploma-container .ad-container .requirements-details .requirements-descriptions p, .page-adv-diploma-container .ad-container .application-details .applications-informations .informations-body .info-labels-description p, .page-adv-diploma-container .ad-container .diploma-studies .listing-studies .study-content p, .single-page-bootcamp .bootcamp-learn-how .bootcamp-learn-body .second-content .second-content-sched p, .single-page-bootcamp .bootcamp-learn-how .bootcamp-learn-body .second-content .second-content-text p, .single-page-bootcamp .bootcamp-learn-how .bootcamp-learn-body .first-content .first-content-text p,
.single-page-bootcamp .single-bootcamp-container .bootcamp-structure .bootcamp-structure-info p, .page-bootcamp-container .bootcamp-container .bootcamp-list-container .bootcamp-body .next-term-other-info .info p, .page-bootcamp-container .bootcamp-container .bootcamp-list-container .bootcamp-body .next-term-title .term-title p, .page-bootcamp-container .bootcamp-container .bootcamp-list-container .bootcamp-body .bootcamp .bootcamp-title p, .page-bootcamp-container .bootcamp-container .bootcamp-structure .bootcamp-structure-info p, .page-event-container .banner-form-header .banner-form-label p, .page-event-container
.event-container-body .event-container .current-events .event-box .event-info .event-content p, .page-event-container .event-container-body .event-container .previous-events .event-box .event-info .event-content p, .page-event-container .event-container-body .event-container .result-search p, .page-blog-container .blog-container .search-popular .popular-posts p, .page-blog-container .blog-container .blog-list .blog .blog-content p, .page-blog-container .blog-container .blog-list .result-search p,
.page-partner-container .partner-body .partners-info .partner-content p, .page-partner-container .partner-body .partner-countries .list-continent li p, .page-contact-container .book-form-header .book-form-label p, .page-contact-container .location-contact-container .location-contact .location-description p, .page-home-container .home-container .about-us-container .about-info p, .page-home-container .home-container .video-list-container .video-displays .video-items .video-info p,
.page-home-container .home-container .bootcamps-container .bootcamps-body .bootcamp-container .bootcamp .bootcamp-title p, .page-home-container .home-container .study-courses .courses-body .courses-container .courses .courses-info .courses-content p, .page-home-container .home-container .event-workshop .ew-body .events-container .event .event-info .event-content p,
.home-page-info .page-content .mentor-list p, .home-page-info .page-content .text-content p, .contact-page-header .page-content .sched-and-info p,
.contact-page-header .page-content .form-header .form-sub-header p, .home-info-slider .row .info-slider-body-list .header-info-text p{
    font-size: 14px;
}
.page-adv-diploma-container .ad-container .diploma-studies .listing-studies .study-content .study-labels p{
    font-size: 10px;
}
.page-adv-diploma-container .ad-container .diploma-studies .listing-studies .study-content .study-labels b {
    font-size: 14px;
}
.page-adv-diploma-container .ad-container .diploma-studies .listing-studies .studies-list .study-title{
    font-size: 16px;
}
footer .footer-body .partners-icon-body .textwidget{
    text-align: center;
}
.page-adv-diploma-container .ad-container .diploma-studies .listing-studies .study-content .study-img img{
    height: 200px;
}
.page-adv-diploma-container .ad-container .diploma-studies .listing-studies .study-content p, .page-adv-diploma-container .ad-container .diploma-studies .listing-studies .study-content .study-labels strong, .page-about-container .about-info-1 .info-desc .info-desc-text p, .page-about-container .about-info-3 .info-3-desc .i3-desc-1 p{
    font-size: 16px
}
.page-adv-diploma-container .ad-container .application-details .applications-informations .informations-body .info-labels-description p,
.page-adv-diploma-container .ad-container .requirements-details .requirements-descriptions p,
.page-booking-container .common-container .common-content .content p,
.page-hr-portal-container .hr-portal-container .hr-portal-content .content p, 
.page-common-container .common-container .common-content .content p,
.page-about-container .about-info-3 .info-3-desc .i3-desc-2 p{
    font-size: 16px;
}
