.page-bootcamp-container{
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  .right-rectangle{
    position: absolute;
    right: 0;
    height: 75%;
    img{
      width: auto;
      height: 100%;
    }
  }

  .left-rectangle{
    position: absolute;
    left: 10px;
    height: 60%;
    img{
      width: auto;
      height: 100%;
    }
  }
  .single-polygon{
    position: absolute;
    right: 2vw;
    bottom: 5vw;
    z-index: -1;
    img{
      width: 70%;
      height: auto;
    }
  }
  .small-polygon{
    position: absolute;
    right: 2vw;
    top: 15vw;
    z-index: -1;
    img{
      width: 70%;
      height: auto;
    }
  }
  .bootcamp-container{
    .bootcamp-structure{
      display: none;
      margin-bottom: 25px;
      .bootcamp-structure-title{
        h1{
          color: #ff7442;
          font-weight: 900;
          text-transform: uppercase;
        }
        margin-bottom: 25px;
      }
      .bootcamp-structure-img{
        img{
          width: 100%;
        }
      }
      .bootcamp-structure-info{
        color: #ffffff;
        @extend %text-content-h1-6-12-600-15;
        font-size: 10px;
        .sub-label{
          overflow: hidden;
          hr{
            margin-top: 0;
            border: 1px solid #ff7442;
            width: 50%;
            float: left;
          }
        }
        label{
          width: 20%;
          display: inline-block;
          text-align: right;
          margin-right: 10px;
        }
        h4{
          width: 75%;
          display: inline-block;
        }
      }
    }
    .bootcamp-list-container{
      .bootcamp-list-title{
        h1{
          color: #ff7442;
          font-weight: 900;
          text-transform: uppercase;
        }
      }
      .bootcamp-body{
        padding: 50px;
        .bootcamp{
          margin-bottom: 20px;
          display: inline-block;
          .bootcamp-img{
            position: relative;
            img{
              width: 100%;
              height: 200px;
              object-fit: cover;
            }
            .btn_learnmore{
              padding: 25% 25%;
              width: 100%;
              position: absolute;
              top: 0;
              height: 100%;
              .btn-link-general{
                display: none;
                background-color: #ff7442;
                color: rgb(255, 255, 255);
                &:hover{
                  background-color: #ec551f;
                }
              }
              a{
                &:hover{
                  text-decoration: none;
                }
              }
              &:hover{
                background-color: rgba(151, 80, 38, 0.35);
                .btn-link-general{
                  display: block;
                }
              }
            }
          }
          .bootcamp-title{
            @extend %text-content-h1-6-12-600-15;
            text-transform: uppercase;
            min-height: 60px;
            position: relative;
            h3{
              // position: absolute;
              // bottom: 0;
              // left: 0;
              color: #ff7442;
            }
          }
          .bootcamp-info{
            padding-top: 10px;
            border-top: 2px solid #000;
            @extend %regular-text-white;
            p{
              margin-bottom: 5px;
              i{
                color: #ff7442;
                padding-right: 5px;
                font-size: 15px;
                width: 20px;
              }
            }
          }
        }
        .next-term-img{
          display: none;
          position: relative;
          img{
            width: 100%;
            object-fit: cover;
          }
          .fade-rectangle{
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            img{
              width: 30px;
            }
          }
        }
        .next-term-title{
          display: none;
          .term-title{
            width: 60%;
            border-top: 2px solid #ff7442;
            @extend %text-content-h1-6-12-600-15;
          }
        }
        .next-term-other-info{
          display: none;
          .info{
            padding-top:25px;
            width: 80%;
            border-top: 2px solid #ff7442;
            color: #ffffff;
            @extend %text-content-h1-6-12-600-15;
          }
        }

      }
    }
  }
}
