.page-booking-container{
  position: relative;
  overflow: hidden;
  padding: 50px 10px;
  .right-rectangle{
    position: absolute;
    right: 0;
    height: 100%;
    img{
      width: auto;
      height: 80%;
    }
  }

  .left-rectangle{
    position: absolute;
    left: 10px;
    height: 100%;
    img{
      width: auto;
      height: 80%;
    }
  }

  .big-polygon{
    position: absolute;
    left: 3vw;
    bottom: 3vw;
    z-index: -1;
    img{
      width: 100%;
      height: auto;
    }
  }
  .small-polygon{
    position: absolute;
    display: inline-block;
    right: 0vw;
    top: 15vw;
    z-index: -1;
    img{
      width: 65%;
      height: auto;
    }
  }

  .common-container{
    .common-content{
      .content{
        @extend %text-content-h1-6-12-600-15;
        padding: 20px 60px;
        color:#000;
        p{
          font-size: 10px;
          line-height: 2;
        }
        font-weight: 600;
        line-height: 1.5;
        b,strong,a,span,h1,h2,h3,h4,h5,h6{
          color:#ec4e68;
        }
        img{
          max-width: 100%;
          margin: auto;
          display: block;
          object-fit: contain;
        }
        input,textarea,select{
          color: #000000;
        }
      }
    }
  }
}
