%display-inline{
  display: inline-block;
  margin: 25px 35px;
  width: 100px;
}
footer{
  // background-color: black;
  .footer-body{
    .partners-icon-body{
      background-color: #ec4e68;
      // border-top: 3px solid rgba(230, 53, 82, 0.1);
      // border-bottom: 3px solid rgba(230, 53, 82, 0.1);
      text-align: center;
      padding: 30px 10%;
      h3{
        display: none;
      }
      .textwidget{
        text-align: left;
        color: #fff;
        font-size: 35px;
        font-weight: 900;
        margin-top: 25px;
      }
      .partners-1{
        .partners_icons:not(:first-child){
          @extend %display-inline;
          width: auto;
        }
      }
      .partners-2{
        .partners_icons:not(:first-child){
          @extend %display-inline;
        }
      }
    }

    .apply-now-body{
      text-align: center;
      padding: 10% 0;
      // border-top: 1px solid #000000;
      // border-bottom: 1px solid #000000;
      position: relative;
      .background-transparency{
        background-color: unset;
      }
      .apply-now-text{
        font-weight: 600;
        font-size: 23px;
      }
      a{
        button{
          width: 300px;
          height: 50px;
          font-weight: 700;
          font-size: 30px;
        }
      }
    }

    .footer-nav-body{
      .footer-menus{
        overflow: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #2e2e2e;
        .footer-icon-social{
          text-align: center;
          .website-icon{
            img{
              width: 100%;
            }
          }
          .icons{
            margin-top: 30px;
            .social-icons{
              background-color: #3c3c3c;
              display: inline-block;
              margin: 2px;
              padding: 13px;
              border-radius: 100%;
              &:hover{
                background-color: #e63552;
              }
              h3{
                display: none;
              }
              a{
                img{
                  width: 16px;
                  height: auto;
                }
              }
            }
          }
          .whatsapp-link{
            font-size: 10px;
            font-weight: 600;
            padding: 20px 0;
            text-align: center;
            .ccw_plugin{
              .ccw-analytics{
                &:hover{
                  background-color: #e63552 !important;
                  // color: #212121 !important;
                }
              }
            }
          }
        }
        .footer-menu-header{
          p{
            @extend %header-title;
          }
          hr{
            @extend %horizontal-line;
            border: 1px solid #ec4e68;
            margin: 10px 0px;
            width: 80px;
          }
        }
        .menu{
          @extend %menu-ul-li-a;
          ul{
            li{
              a{
                font-size: 10px;
                font-weight: 600;
              }
            }
          }
        }
      }
      .footer-copyright{
        background-color: #212121;
        font-size: 10px;
        overflow: auto;
        padding-top: 10px;
        text-align: center;
        .copy-text{
          .copyright{
            &:nth-child(n+2){
              margin-left: 30px;
            }
            display: inline-block;
            .copy-title{
              display: none;
            }
            .textwidget{
              color: #7d7d7d;
              font-weight: 900;
              // strong{
              //   color: #ffffff;
              // }
              // b{
              //   color: #ffffff;
              // }
            }
          }
        }
      }
    }
  }
}
