.page-home-container{
  position: relative;
  padding: 10px 0px 0px 0px;
  overflow: hidden;

  .small-polygon{
    position: absolute;
    right: 0vw;
    top: 26vw;
    z-index: 1;
    img{
      width: 70%;
      height: auto;
    }
  }

  .home-container{
    .first-banner{
      position: relative;
      height: 330px;
      .banner-bg-img{
        border-bottom: 5px solid #ff7442;
      }
    }
    .event-workshop{
      position: relative;
      .first-title{
        h1{
          color: #000;
          font-weight: 700;
          -webkit-transform: rotate(270deg);
          position: absolute;
          top: 10px;
          right: 104%;
          white-space: nowrap;
          -webkit-transform-origin: right top;
          -moz-transform: rotate(270deg);
          -moz-transform-origin: right top;
          -ms-transform: rotate(270deg);
          -ms-transform-origin: right top;
          -o-transform: rotate(270deg);
          -o-transform-origin: right top;
          transform: rotate(270deg);
          transform-origin: right top;
        }
      }
      .ew-title{
        padding-left: 40px;
        h1{
          color: #ff7442;
          font-weight: 700;
          font-size: 55px;
       }
      }
      .ew-body{
        margin: 25px;
        .events-container{
          margin-bottom: 50px;
          .event{
            margin-bottom: 20px;
            .event-img{
              img{
                width: 100%;
                object-fit: cover;
                height: 265px;
              }
            }
            .event-info{
              padding-right: 25px;
              .event-date-author{
                border-bottom: 1px solid #ff7442;
                overflow: hidden;
                @extend %regular-text-white;
                p{
                  margin-bottom: 0px;
                  font-size: 13px;
                  text-transform: uppercase;
                }
                #date{
                  float: left;
                }
                #price{
                  float: right;
                }
              }
              .event-location-time{
                // border-bottom: 1px solid #ec4e68;
                overflow: hidden;
                @extend %regular-text-white;
                p{
                  margin-bottom: 0px;
                  font-size: 13px;
                  text-transform: uppercase;
                }
              }
              .event-content{
                text-transform: uppercase;
                @extend %text-content-h1-6-12-600-15;
                a{
                  h4{
                    text-transform: uppercase;
                    color: #ff7442;
                  }
                  &:hover{
                    text-decoration: none;
                    h4{
                      color: #ec551f;
                    }
                  }
                }
              }
            }
          }
          .event-btn{
            text-align: center;
            .btn-link-general{
              background-color: #ff7442;
              color: rgb(255, 255, 255);
              font-weight: bold;
              font-size: 15px;
              &:hover{
                background-color: #ec551f;
              }
            }
          }
        }
      }
    }
    .second-banner{
      position: relative;
      height: 200px;
      .banner-bg-img{
        border-bottom: 5px solid #e63552;
      }
    }
    .study-courses{
      position: relative;
      .first-title{
        h1{
          color: #000;
          font-weight: 700;
          -webkit-transform: rotate(270deg);
          position: absolute;
          top: 10px;
          right: 104%;
          white-space: nowrap;
          -webkit-transform-origin: right top;
          -moz-transform: rotate(270deg);
          -moz-transform-origin: right top;
          -ms-transform: rotate(270deg);
          -ms-transform-origin: right top;
          -o-transform: rotate(270deg);
          -o-transform-origin: right top;
          transform: rotate(270deg);
          transform-origin: right top;
        }
      }
    .courses-title{
      padding-left: 40px;
      h1{
        color: #ec4e68;
        font-weight: 700;
        font-size: 55px;
      }
       b,strong{
         color: #ec4e68;
       }
       @extend %regular-text-white;
       a{
         color:#000;
         &:hover{
           text-decoration: none;
           color: #ec4e68;
         }
       }
       p{
         font-size: 10px;
         text-transform: uppercase;
       }
      }
      .courses-body{
        margin: 25px;
        margin-top: 10px;
        .courses-container{
          margin-bottom: 50px;
          .courses{
            margin-bottom: 20px;
            .courses-img{
              img{
                width: 100%;
                object-fit: cover;
                height: 200px;
              }
            }
            .courses-info{
              .courses-date-author{
                border-bottom: 1px solid #ec4e68;
                overflow: hidden;
                // @extend %regular-text-white;
                // p{
                //   margin-bottom: 0px;
                //   font-size: 13px;
                //   text-transform: uppercase;
                // }
                // #date{
                //   float: left;
                // }
                // #price{
                //   float: right;
                // }
              }
              .courses-content{
                text-transform: uppercase;
                color:#000;
                @extend %text-content-h1-6-12-600-15;
                  h3{
                    text-transform: uppercase;
                  }
                  // &:hover{
                  //   text-decoration: none;
                  //   h3{
                  //     color: #ffffff;
                  //   }
                  // }
                  @extend %regular-text-white;
              }
            }
          }
          .courses-btn{
            text-align: center;
          }
        }
      }
    }
    .third-banner{
      position: relative;
      height: 330px;
      .banner-bg-img{
        border-bottom: 5px solid #ff7442;
      }
    }
    .bootcamps-container{
      position: relative;
      .first-title{
        h1{
          color: #000;
          font-weight: 700;
          -webkit-transform: rotate(270deg);
          position: absolute;
          top: 10px;
          right: 104%;
          white-space: nowrap;
          -webkit-transform-origin: right top;
          -moz-transform: rotate(270deg);
          -moz-transform-origin: right top;
          -ms-transform: rotate(270deg);
          -ms-transform-origin: right top;
          -o-transform: rotate(270deg);
          -o-transform-origin: right top;
          transform: rotate(270deg);
          transform-origin: right top;
        }
      }
      .bootcamps-title{
        padding-left: 40px;
        h1{
          color: #ff7442;
          font-weight: 700;
          font-size: 55px;
       }
       b,strong{
         color: #ff7442;
       }
       @extend %regular-text-white;
       p{
         font-size: 10px;
         text-transform: uppercase;
       }
      }
      .bootcamps-body{
        margin: 25px;
        margin-top:10px;
        .bootcamp-container{
          margin-bottom: 50px;
          .bootcamp{
            margin-bottom: 20px;
            display: inline-block;
            .bootcamp-img{
              position: relative;
              img{
                width: 100%;
                height: 200px;
                object-fit: cover;
              }
            }
            .bootcamp-title{
              @extend %text-content-h1-6-12-600-15;
              text-transform: uppercase;
              min-height: 90px;
              position: relative;
              a{
                h3{
                  position: absolute;
                  top: 0;
                  left: 0;
                  text-transform: uppercase;
                  color: #ff7442;
                  font-size: 20px;
                }
                &:hover{
                  text-decoration: none;
                  h3{
                    color: #ec551f;
                  }
                }
              }
            }
            .bootcamp-info{
              padding-top: 10px;
              border-top: 2px solid #000;
              @extend %regular-text-white;
              p{
                margin-bottom: 5px;
                i{
                  color: #ff7442;
                  padding-right: 5px;
                  font-size: 15px;
                  width: 20px;
                }
              }
            }
          }
          .bootcamp-btn{
            text-align: center;
            .btn-link-general{
              background-color: #ff7442;
              color: rgb(255, 255, 255);
              font-weight: bold;
              font-size: 15px;
              width: 230px;
              &:hover{
                background-color: #ec551f;
              }
            }
          }
        }
      }
    }

    .video-list-container{
      background-color: #f2f2f2;
      padding-bottom: 50px;
      padding-top: 50px;
      position: relative;
      .first-title{
        h1{
          color: #000;
          font-weight: 700;
          -webkit-transform: rotate(270deg);
          position: absolute;
          top: 10px;
          right: 104%;
          white-space: nowrap;
          -webkit-transform-origin: right top;
          -moz-transform: rotate(270deg);
          -moz-transform-origin: right top;
          -ms-transform: rotate(270deg);
          -ms-transform-origin: right top;
          -o-transform: rotate(270deg);
          -o-transform-origin: right top;
          transform: rotate(270deg);
          transform-origin: right top;
        }
      }
      .video-displays{
        margin: 25px 25px;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        height: 500px;
        z-index: 1;
        .video-items{
          display: inline-block;
          .video-frame{
            iframe{
              width: 100%;
              height: 300px;
            }
          }
          .video-info{
            // position: absolute;
            // top: 225px;
            width: 80%;
            // left: 16px;
            text-transform: uppercase;
            @extend %text-content-h1-6-12-600-15;
            p{
              color:#000;
            }
            h3{
              margin-top: 10px;
            }
          }
        }
      }
    }
.about-us-new-body{
  padding-top: 10px;
  padding-bottom: 20px;
  .about-us-container{
    padding: 25px;
    .about-img{
      position: relative;
      img{
        width: 100%;
        object-fit: cover;
        height: 350px;
      }
    }
    .about-info{
      @extend %text-content-h1-6-12-600-15;
      h1{
        font-weight: 700;
        color: #fff;
      }
      h3{
        color: #fff;
      }
      @extend %regular-text-white;
      p{
        font-size: 11px;
        font-weight: 600;
        line-height: 2;
        color: #fff;
      }
      .about-us-btn{
        margin-top: 30px;
        .btn-link-general{
          background-color: #fff;
          color: #ec4e68;
          font-weight: bold;
          font-size: 16px;
          &:hover{
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
}

.hashtag-container{
  text-align: center;
  h1{
    padding-top: 55px;
    margin-top: 0;
    color: #fff ;
    font-size: 70px;
    font-weight: bolder;
  }
}

    .testimonial-container{
      margin-top: 50px;
      .testimonial-header{
        text-align: right;
        h1{
          color: #ec4e68;
          font-weight: 700;
          width: 60%;
        }
        span{
          color: #000;
        }
      }
      .testimony-list{
        margin: 25px;
        display: flex;
        position: relative;
        overflow: hidden;
        height: 350px;
        .testimonials{
          display: inline-block;
          padding: 0px 50px;
          .testimony-img{
            position: relative;
            img{
              width: 70%;
              height: 300px;
              object-fit:cover;
            }
            .country{
              p{
                font-size: 24px;
                font-weight: 700;
                color: #000;
                text-transform: uppercase;
              }
              position: absolute;
              bottom: 0;
              right: 35%;
              text-align: right;
            }
          }
          .testimony-info{
            h5,h6,h1,h2,h3,h4,b,strong{
              color: #000;
              font-weight: 600;
            }

            p{
              color:#000;
              font-weight: 500;
              font-size: 12px;
            }
            .author{
              margin-top: 20px;
              padding: 20px;
              border-left: 1px solid #000;
              p{
                margin-bottom: 0;
                color: #000;
              }
              #name{
                font-size: 20px;
                font-weight: 700;
              }
              #desc{
                font-weight: initial;
                font-size: 15px;
              }
            }
          }
        }
      }
      .testimonial_navigation{
        color: #000;
        font-size: 25px;
        width: 100%;
        top: 50%;
        position: absolute;
        #tm_left,#tm_right{
          position: absolute;
          cursor: pointer;
          &:hover{
            transition: all .1s ease-in-out;
            transform: scale(2);
          }
        }
        #tm_left{
          left:0;
        }
        #tm_right{
          right:0;
        }
      }
    }
    .counting-numbers-container{
      padding: 50px 0px;
      .counting-item-container{
        text-align: center;
        .first-item-label{
          p{
            font-weight: 600;
            color: black;
            font-size: 20px;
          }
        }
        .counting-item{
          p{
            color: #ec4e68;
            font-weight: 900;
            font-size: 70px;
          }
        }
        .second-item-label{
          p{
            font-weight: 600;
            color: black;
            font-size: 23px;
          }
        }
      }
    }
  }
  .homepage-video-container{
    margin-bottom: -5px;
    margin-top: -5px;
    #video-bg{
      width: 100%;
    }
    .homepage-video{
      iframe{
        width: 100%;
        height: 500px;
      }
    }
  }
}
