.page-hr-portal-container{
  position: relative;
  overflow: hidden;
  padding: 50px 10px;

  .big-polygon{
    position: absolute;
    left: 3vw;
    bottom: 3vw;
    z-index: -1;
    img{
      width: 100%;
      height: auto;
    }
  }
  .small-polygon{
    position: absolute;
    display: inline-block;
    right: 0vw;
    top: 15vw;
    z-index: -1;
    img{
      width: 65%;
      height: auto;
    }
  }

  .hr-portal-container{
    .hr-portal-content{
      .content{
        @extend %text-content-h1-6-12-600-15;
        padding: 20px 60px;
        color:#000;
        p{
          font-size: 12px;
          line-height: 2;
        }
        font-weight: 600;
        line-height: 1.5;
        b,strong,a,span,h1,h2,h3,h4,h5,h6{
          color:#ec4e68;
        }
        img{
          max-width: 100%;
          margin: auto;
          display: block;
          object-fit: contain;
        }
      }
      .content-links{
        .header-title{
          h1{
            color: #ec4e68;
            font-weight: 900;
          }
        }
        .form-links-container{
          padding: 10px 30px;
          .links{
            @extend %menu-ul-li-a;
            ul{
              li{
                a{
                  font-size: 10px;
                  font-weight: 600;
                  color: #000;
                }
                &:hover{
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}
